<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}"/>
    <script defer src="../../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <title>Admin - BookClub</title>
</head>
<body>
<header>
    <a href="#" th:href="@{/static}" class="logo">BookClub</a>
    <a class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
    <nav class="topnav" id="myLinks">
        < <a href="#" th:href="@{/genres-book}" sec:authorize="isAuthenticated()">Książki</a>
        <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Zaloguj się</a>
        <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj się</a>
        <a href="#" th:href="@{/templates/admin}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Panel Administracyjny</a>
    </nav>
</header>
<div class="image">
    <img src="/image-1.jpg" th:src="@{/image-1.jpg}">
    <div>
        <div class="text-overlay">
            <p class="notification-bar" th:if="${notification}" th:text="${notification}">
            <main class="main-content" >
                <h2 class="list-heading">Panel administracyjny</h2>
                <ul class="list-border">
                    <li><a href="#" th:href="@{/admin/dodaj-ksiazke}">Dodaj książke</a></li>
                    <li><a href="#" th:href="@{/admin/dodaj-gatunek}">Dodaj gatunek</a></li>
                </ul>
            </main>
        </div>
    </div>
</div>
</body>
</html>